.title{
    padding-left: 40px;
    padding-top: 10px;
    font-size: 15px;
    margin-bottom: 5px;
}

.wrap_menu{
    
    width: 80vw;
    padding-left: 20px;

    overflow: auto;
    white-space: nowrap;
}

.wrap_menu::-webkit-scrollbar{
    display: none;
}

.down_btn{
    margin-left: 10px;
    margin-top: 7px;
}

.up_btn {
    margin-left: 10px;
    margin-top: 10px;
}

.completion_order{
    display: flex;
}

.button_container {
    position: relative;
    overflow-x: scroll;
    display: flex;
}