.contain{
    width: 90%;
    margin-left: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.title {
    font-size: 20px;
    color: rgb(65, 65, 65);
}

.content {
    font-size: 15px;
    color: rgba(65, 65, 65, 0.8);
}