.titleContainer {
    width: 90%; 
    margin: 2rem auto; 
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.title {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
}
.selectBox {
    width: 30%; 
    padding: 10px;
    background-color: rgba(221, 203, 175, 0.26);

    font-size: 1em; 
    color: #333; 
    cursor: pointer;
}

.selectBox::after { 
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(221, 203, 175, 0.26);
    cursor: pointer;
    pointer-events: none; 
    border-radius: 2rem;

}


.graphContainer {
    width: 90%; 
    height: 500px;
    margin: auto; 
    margin-left: 5vw;
    border: 1px solid lightgray;
    border-radius: 2rem;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    width: 100%; 
    height: 100%;
    background-color: rgba(236, 223, 223, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
}

.graphPlaceholder {
    color: #666;
}


@media screen and (max-width: 768px) {
    .titleContainer, .graphContainer {
        width: 100%; 
        margin-left: 0;
    }
}

.Arrow{
    background-color: transparent;
    border: none;
    cursor: pointer; 
    
    box-sizing: border-box;
}
  
.container {
    width: 100%;
}