.today { 
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin-left: 5vw; 
  font-size: 1.5em; 
  font-weight: bold; 
} 

.box {
  width: 300px;
  margin-left: 5vw;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;  
  align-items: flex-start;  

  border: 3px solid lightgray;
  border-radius: 2rem;
  gap: 10px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* 마우스 포인터를 올렸을 때 손가락으로 바뀜 */

  transition: box-shadow 0.1s linear;
}

.box:hover {

box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);

}
.title {
  text-align: left;
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-top: 10px;
  margin-bottom: 5px; 
}

.number {
  text-align: left;
  font-size: 3.0rem;
  color: black;
  margin-left: 2rem;
  margin-top: 0; 
  margin-bottom: 10px; 
}

.icon {
  margin-left: 20px;
}

.heading {
  display: inline-block;  
}

.boxContainer {
  display: flex; 
}

.datePickerContainer {
  display: flex; 
  flex-direction: row-reverse;
  position: relative;
}

.react-datepicker-wrapper {
  position: absolute;
  right: 1rem;
  top: 50px;
}

.container {
  height: fit-content;
}