.main {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(221, 203, 175, 0.26);
}

.content {
  width: 80vw;
  height: 100vh;
  overflow: scroll;
}



::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}