.main {
  display: flex;
  flex-direction: row;
  background-color: rgba(221, 203, 175, 0.26);
}

.container {
  width: 80vw;
  overflow: scroll;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}